.cntr{
    display: block;
    margin-left: auto;
    margin-right: auto 
}

.frm{
        margin: 10;
        border: 1px solid #d9dee4;
        border-radius: 6px;
        min-width:640px; 
        max-width:1000px;
        
}

.inner_text{
    margin: 10;
}